@import '../../helpers/variableBreakpoints.scss';

.TopBar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 84px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 1);
    background-color: $darkPurple;
    z-index: 9999999999999999999999999999999;

    & .space {
        width: 133px;
    }

    & .logo {
        position: absolute;
        left: calc(10vw + 10px);
        width: 65px;
        border-radius: 12px;

    }

    & .Menu {
        width: 24px;
        height: 24px;
        cursor: pointer;
    }

    & .Notification {
        width: 24px;
        height: 24px;
        color: white;
        cursor: pointer;
        margin-left: 15px;
        box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.09);

    }

    & .profileSection {
        display: flex;
        align-items: center;

        & .profile {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 41px;

            & .downIcon {
                color: white;
            }

            & .avatar {
                width: 25px;
                height: 25px;
                border-radius: 50%;
                overflow: hidden;

                & img {
                    width: 100%;
                }
            }

            & .dropdown {
                position: relative;
                display: inline-block;

                & .profileName {
                    color: white;
                    margin-left: 12px;
                    margin-right: 6px;
                    cursor: pointer;
                }

                & .dropdownContent {
                    display: none;
                    position: absolute;
                    justify-content: center;
                    align-items: center;
                    background-color: #f9f9f9;
                    min-width: 160px;
                    border-radius: 8px;
                    box-shadow: 0 2px 6px 0 rgba(110, 42, 245, 0.09);
                    padding: 12px 0;
                    cursor: pointer;
                    font-size: 14px;
                    color: $darkBlue;
                    font-family: SofiaBold;
                    z-index: 1;
                }

                & .dropdownContent:hover {
                    background-color: #f3f3f3;
                }

                & .active {
                    display: flex;
                }
            }

        }
    }
}