.messageContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: 16px 0;

  &.isMine {
    justify-content: flex-end;
  }
  & .time {
    color: #909ab2;
  }

  & .avatar {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin-right: 15px;

    & img {
      width: 40px;
      height: 40px;
      border-radius: 100%;
    }
  }

  .messageBody {
    width: 60%;
    border-radius: 15px;

    &.isMine {
      background-color: #1a5aff;
      justify-self: end;
      color: white;

      & .time {
        position: relative;
        left: calc(100% - 40px);
        top: 20px;
      }
    }

    &.notMine {
      background-color: #f6f9ff;
      justify-self: flex-start;
      color: #061b52;
      & .time {
        position: relative;
        top: 20px;
      }
    }

    & .message {
      padding: 5px 0;
      width: 90%;
      margin: auto auto;
    }
  }
}
